---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>城市选择指南</title>
  </head>
  <body>
    <section class='index-root'>
      <main>
        <ul class="about-pro">
          <li><a href="/about/technology">项目00：关于这个项目的最新选型 update 2023-10-21</a></li>
          <li><a href="/about/technology-his">项目01：关于这个项目的选型历史 update 2023-10-21</a></li>
          <li><a href="/about/position">项目02：关于这个项目的定位 update 2023-10-21</a></li>
        </ul>
        <ul class="hunan-province">
          <li><a href="/hunan/csc">湖南-长沙00：长沙买房具体到楼盘</a></li>
        </ul>
       <p>项目正在使用astro重写，敬请期待</p>
      </main>
    </section>
   
  </body>
</html>

<style>
  .index-root{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    margin: 0 auto;
  }
  a{
    text-decoration: none;
    
  }
</style>
